{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["no-mixed-operators", "react", "react-native"],
  "env": {
    "jest": true,
    "react-native/react-native": true
  },
  "rules": {
    "arrow-body-style": [0],
    "arrow-parens": [2, "as-needed"],
    "camelcase": [0],
    "function-paren-newline": [0],
    "func-names": [0],
    "import/no-unresolved": [2, { "ignore": [".+"] }],
    "import/no-extraneous-dependencies": [0],
    "import/extensions": [0],
    "import/prefer-default-export": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/label-has-for": [0],
    "max-len": [
      2,
      {
        "code": 100,
        "ignorePattern": "\\s*const\\s.+\\s=\\s\\/.+/[igm]*;",
        "ignoreComments": true
      }
    ],
    "new-cap": [0],
    "no-console": [0],
    "no-mixed-operators": [0],
    "no-mixed-operators/no-mixed-operators": [2],
    "no-multi-assign": [0],
    "no-prototype-builtins": [0],
    "no-undef": [1],
    "no-underscore-dangle": [0],
    "no-unused-expressions": [
      1,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-use-before-define": ["error", { "variables": false }],
    "object-curly-newline": [0],
    "prefer-destructuring": [2, { "array": false }],
    "radix": [0],
    "react/forbid-prop-types": [0],
    "react/jsx-filename-extension": [0],
    "react/no-unused-prop-types": [0],
    "react-native/no-unused-styles": [2]
  }
}
