# Dependency directory
/node_modules

# Flow Coverage
/coverage/flow-coverage/assets
/coverage/flow-coverage/sourcefiles/
/coverage/flow-coverage/index.html

# Jest Coverage
/coverage/lcov-report
coverage-summary.json
lcov.info

# Logs
npm-debug.log